@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
p {
  color: gray;
}
.wrapper {
  margin-left: 6rem;
}
.wrapper header {
  display: flex;
  gap: 3rem;
  margin-top: 1.5rem;
  padding: 1rem 1.25rem;
}
.hamburger {
  display: none;
}
.nav__bar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.audience__post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.audience__post__title {
  display: flex;
  flex-direction: column;
}

.audience__post__title h1 {
  font-size: 4rem;
  margin-top: 3rem;
  color: rgb(3, 3, 76);
}
.start__scheduling {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0rem;
}
.start__scheduling a {
  color: black;
  font-weight: 700;
}

.check__time__now a {
  text-decoration: underline 2px solid;
  color: black;
  font-weight: 700;
}
.check__time__now {
  display: flex;
  gap: 1rem;
}
.mockup__image .btn__start {
  background-color: rgb(3, 3, 76);
  font-size: 0.95rem;
  font-weight: 700;
  color: white;
  padding: 1rem 1.25rem;
  border-radius: 6px;
  border: none;
  width: 35%;
  margin-top: 1.5rem;
}

.btn__start {
  background-color: rgb(3, 3, 76);
  font-size: 0.95rem;
  font-weight: 700;
  color: white;
  padding: 1rem 1.25rem;
  border-radius: 6px;
  border: none;
  width: 35%;
}
.mockup__image .btn__start:hover {
  cursor: pointer;
  background-color: rgb(47, 37, 242);
}
.mockup__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 234, 255, 0.6);
}
.mockup__image img {
  display: block;
  object-fit: contain;
  width: 100%;
  padding: 4rem 2rem;
}
.start__scheduling .btn__start:hover {
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(47, 37, 242);
}
/* ====================TimeNow is used by the most inflential people==================== */

.influential__people {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.unified__dashboard {
  padding: 2rem 6rem 2rem 6rem;
}
.customized__dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(170, 229, 249, 0.6);
}
.customized__dashboard h2,
.real__time__data h2 {
  color: rgb(1, 56, 15);
  padding: 0.75rem 0rem;
  width: 70%;
}

.customized__dashboard p,
.real__time__data p {
  padding-bottom: 0.75rem;
}
.customized__dashboard .btn__start:hover {
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(47, 37, 242);
}
.influential__people__para {
  padding: 2rem 6rem 2rem 2rem;
}
.real__time__data {
  padding: 2rem 6rem;
}
.real__time__data .live__demo {
  font-weight: 700;
  color: black;
}
.time__now__users {
  padding: 2rem 2rem 2rem 0rem;
}

.users__portfolio {
  margin: 2rem 0rem;
}
.influential__people h2 {
  width: 60%;
  margin: 0.5rem 0rem;
  color: rgb(3, 3, 76);
}
.users__portfolio img {
  width: 7%;
}
/* ====================Footer================================== */
footer {
  padding: 2rem 2rem 2rem 6rem;
}
.product__title,
.help__title,
.company__title {
  list-style: none;
}
a {
  color: gray;
  font-size: 0.75rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.footer__information,
.sub__footer__information {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.bold__title {
  color: black;
  font-weight: 700;
}
form {
  display: flex;
  border: 1px solid grey;
  outline: 1px solid grey;
  padding: 2px;
  border-radius: 6px;
}
input[type="email"] {
  width: 100%;
  border: none;
}
::placeholder {
  padding-left: 1rem;
}
.try__tweets_now > p {
  margin-right: 4rem;
  padding-bottom: 0.5rem;
}
.try__tweets_now .btn__start,
.unified__dashboard .btn__start {
  background-color: rgb(3, 3, 76);
  font-size: 0.95rem;
  font-weight: 700;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0 6px 6px 0;
  border: none;
  width: 50%;
}
form .btn__start:hover {
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(47, 37, 242);
}
